<% if(logined){%>
<h1>hello <%- userInfo.name %></h1>

<%} %>
<!--  -->

<!-- <div class="uk-container"></div> -->

<div
  class="uk-container uk-margin-small-left uk-child-width-4-5@s uk-grid-match"
  uk-grid
>
  <!-- <div>
    <div
      class="uk-card uk-card-default uk-card-large uk-card-body uk-width-4-5@m"
    >
      <div class="uk-card-badge uk-label" style="background-color: red;">
        new
      </div>
      <h3 class="uk-card-title"><%- newPost.title %></h3>
      <div class="fr-view" id="text-content">
        <%- newPost.content %>
      </div>
      <a
        class="uk-link-heading"
        style=" color: green;font-size:x-large;"
        href="/view-post/<%- newPost._id %>"
        >Đọc tiếp......</a
      >
    </div>
  </div> -->
  <!--  -->
  <% posts.forEach(p=>{%>
  <div
    class="uk-card uk-card-default uk-card-hover uk-card-body uk-width-4-5@m"
  >
    <h3 class="uk-card-title">
      <a class="uk-link-heading" href="/view-post/<%- p._id %>"
        ><%- p.title %></a
      >
    </h3>
    <p>
      <%- p.description %>
    </p>
    <a
      class="uk-link-heading"
      style="color: green; font-size: x-large;"
      href="/view-post/<%- newPost._id %>"
      >Đọc tiếp......</a
    >
  </div>
  <%}) %>

  <!--  -->
</div>

<style>
  #text-content {
    display: -webkit-box;
    max-height: 500px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-height: 1.6rem;
  }
</style>

<!--  -->
<% successMsg.length > 0 && successMsg.forEach(msg=>{%>
<script>
  UIkit.notification({
    message: "<%- msg %>",
    status: "warning",
    pos: "top-center",
    timeout: 3000,
  });
</script>
<%}) %>
<!--  -->
<% errMsg.length > 0 && errMsg.forEach(msg=>{%>
<script>
  UIkit.notification({
    message: "<%- msg %>",
    status: "warning",
    pos: "top-center",
    timeout: 3000,
  });
</script>
<%}) %>
